/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Barra de navegación */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: rgba(229, 214, 243, 1);
}

.nav a {
    text-decoration: none;
    color: rgba(165, 89, 237, 1);
    margin: 0 15px;
    font-weight: 600;
}

.nav-link:hover {
    color: #666;
}


h1 {
    color: rgba(165, 89, 237, 1);
   
}

/* Botón de registrare */
.btn-primary {
    background-color: rgba(165, 89, 237, 1);
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
}

.btn-primary:hover {
    background-color: rgba(191, 162, 219, 1);
    
    color: #fff;
    border-color: rgba(165, 89, 237, 1);
}

/* Botón de inicio de sesión */
.btn-outline-primary {
    color: rgba(165, 89, 237, 1);
    border-color: rgba(165, 89, 237, 1);
    background-color: transparent;
    height: 40px;
}

.btn-outline-primary:hover {
    background-color: rgba(165, 89, 237, 1);
    color: #fff;
    border-color: rgba(165, 89, 237, 1);
}

/* Sección principal */
.hero-section {
    text-align: center;
}


.hero-section {
    color: rgba(165, 89, 237, 1) !important;
    font-size: 4px;
    font-weight: 1000 !important; /* Negrita */
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
}

.fondo{
    background-image: image-set('../image/mat3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(239, 227, 250, 0.6), rgba(240, 229, 250, 0.6)); 
    z-index: 1; 
}

.fondo .row {
    position: relative;
    z-index: 2; 
}


.hero-content {
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}

.hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
    font-size: 3rem;
    margin-bottom: 1rem;
    transform: translateY(-20px); 
    animation: slideIn 1s ease-in-out forwards; 
}

.hero-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    transform: translateY(20px); 
    animation: slideIn 1s ease-in-out forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.b-example-divider {
    display: none;
}

/* Contacto */

.contacto {
    background: linear-gradient(to right, rgba(239, 227, 250, 0.6), rgba(227, 203, 250, 0.6));
    color: rgb(0, 0, 0);
}

.boton-contacto {
    background-color: rgba(165, 89, 237, 1);
    color: #fff;
    border: none;
    transition: 0.3s;
}

.boton-contacto:hover {
    background-color: #e2d4f5;
    color: #4c2a85;
    transform: scale(1.05);
}

.contacto i {
    min-width: 32px;
}

.mapa iframe {
    border-radius: 10px;
    width: 100%;
    height: 250px;
}

/* Footer */
footer {
    color: rgba(165, 89, 237, 1);
    text-align: center;
    ;

}